<div class="modal-dialog" role="document">
    <div class="modal-content">
        <div class="modal-body">
            <div class="title">
                <h4><i data-feather="globe"></i>Language</h4>
            </div>
            <div class="content">
                {{form_start(form,{'attr':{'id':'newLangForm'},'action':path('language_prof_new')})}}
                <div class="input-block-wrap">
                    <div class="form-group row">
                        <label class="col-sm-3 col-form-label" style="margin-right: 0; padding-top: 10px; padding-bottom: 0; color: #6f7484;font-size: 1.4rem; font-family: 'Poppins', sans-serif; font-weight: 600">
                            Language Information
                        </label>
                        <div class="col-sm-9">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <div class="input-group-text">Title</div>
                                </div>
                                {{ form_widget( form.LanguageName,{'attr':{'class':'form-control'}} ) }}
                                {{ form_errors(form.LanguageName) }}
                            </div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="offset-sm-3 col-sm-9">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <div class="input-group-text">Level</div>
                                </div>
                                {{ form_widget( form.ProfeciencyLvl,{'attr':{'class':'form-control'}} ) }}
                                {{ form_errors(form.ProfeciencyLvl) }}
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="offset-sm-3 col-sm-9">
                            <div class="buttons">
                                <button class="primary-bg">Add</button>
                                <button class="" data-dismiss="modal">Cancel</button>
                            </div>
                        </div>
                    </div>
                    {{ form_end(form) }}
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    $(document).on("submit","#newLangForm",function(event) {
        event.preventDefault();
        event.stopImmediatePropagation();
        $form = $('#newLangForm');
        $.ajax({
            url: $form.attr("action"),
            type: "POST",
            data: $form.serialize(),
            success: function (data) {
                if(data === "success"){
                    window.location.reload();
                }else{
                    $("#modal-lang-skill").html(data);
                    feather.replace();
                }
            },
            error: function (res){
                console.log("error");
            }
        });
        return false;
    });
</script>
