{% extends 'base.html.twig' %}

{% block title %}LanguageProf{% endblock %}

{% block body %}
    <h1>LanguageProf</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ language_prof.id }}</td>
            </tr>
            <tr>
                <th>LanguageName</th>
                <td>{{ language_prof.LanguageName }}</td>
            </tr>
            <tr>
                <th>ProfeciencyLvl</th>
                <td>{{ language_prof.ProfeciencyLvl }}</td>
            </tr>
            <tr>
                <th>Percent</th>
                <td>{{ language_prof.percent }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('language_prof_index') }}">back to list</a>

    <a href="{{ path('language_prof_edit', {'id': language_prof.id}) }}">edit</a>

    {{ include('language_prof/_delete_form.html.twig') }}
{% endblock %}
