{% extends 'base.html.twig' %}

{% block title %}Education index{% endblock %}

{% block body %}
    <h1>Education index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>DiplomaTitle</th>
                <th>InstitutionName</th>
                <th>StartYear</th>
                <th>EndYear</th>
                <th>Description</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for education in education %}
            <tr>
                <td>{{ education.id }}</td>
                <td>{{ education.DiplomaTitle }}</td>
                <td>{{ education.InstitutionName }}</td>
                <td>{{ education.startYear }}</td>
                <td>{{ education.endYear }}</td>
                <td>{{ education.Description }}</td>
                <td>
                    <a href="{{ path('education_show', {'id': education.id}) }}">show</a>
                    <a href="{{ path('education_edit', {'id': education.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('education_new') }}">Create new</a>
{% endblock %}
